@font-face {
    font-family: "Sora";
    src: url("/src/res/fonts/Sora/Sora-Regular.ttf") format("truetype");
}
 
.container {
    background: url('/src/res/img/typeracer_background.jpg');
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    height: 56px;
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
}

div a:hover {
    background-color: coral;
}

li {
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    font-family: "Sora", Times, serif;
    font-size: 22px;
}
