.test-prompt {
    width: 480px;
    /* display: flex;
    justify-content: center; */
}

.correct-words {
    color: green;
    display: inline;
}

.incomplete-words {
    color: hotpink;
    display: inline;
}

.current-word-correct {
    color: green;
    display: inline;
    text-decoration: underline;
}

.current-word-incomplete {
    color: blue;
    display: inline;
}