p {
    font-size: large;
}

.test-prompt {
    /* display: flex;
    justify-content: center; */
}

.correct-words {
    color: green;
    display: inline;
}

.incomplete-words {
    color: black;
    display: inline;
}

.current-word-correct {
    color: green;
    display: inline;
    text-decoration: underline;
}

.current-word-incorrect {
    color: black;
    background:orangered;
    display: inline;
}

.current-word-incomplete {
    color: black;
    display: inline;
}

.input__field {
    width: 100%;
    height: 50px;
    font-size: large;
}